<form action="/edit_item?id={{item.id_}}" method="post">
    <label for="name">Name</label>
    <input id="name" type="text" value="{{item.name}}" name="name">
    <label for="name">description</label>
    <input id="description" type="text" value="{{item.description}}" name="description">
    <label for="name">quantity</label>
    <input id="quantity" type="text" value="{{item.quantity}}" name="quantity">
    <label for="name">unit_value</label>
    <input id="unit_value" type="text" value="{{item.unit_value}}" name="unit_value">
    <input type="submit">
</form>