<div>
    <a href="/create_item">Create New Item</a>
    <a href="/download">Download as CSV</a>
</div>
{% for item in items %}
    {% include "components/item.html"%}
{% endfor %}
<div>
    5 items per page<br>
    <a href="item_list?page=0">0</a>
    <a href="item_list?page=1">1</a>
    <a href="item_list?page=2">2</a>
    <a href="item_list?page=3">3</a>
    <a href="item_list?page=4">4</a>
    <a href="item_list?page=5">5</a>
    <a href="item_list?page=6">6</a>
    <a href="item_list?page=7">7</a>
    <a href="item_list?page=8">8</a>
    <a href="item_list?page=9">9</a>
</div>